body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Custom elements
-----------------------------------------------------------*/

.title{
    background-color: #f3f3f3;
    padding: 4px;
    border-bottom: 2px ridge black;
    border-right: 2px solid black;
}

.title *{
    color: black;
    font-weight: bold;
}

.navbar-side{
    border-right: 1px solid black;
}

.navbar-side li{
    background-color: #f3f3f3;
    padding-left:10px;
}

.navbar-side li .nested{
    list-style-position: outside;
    /*list-style-image: url();*/
    padding-left:10px;
}

/* General background colors */
.bg-red{
    background-color:#ff5959;
}

.bg-blue{
    background-color:#3ab1ff;
}

.bg-yellow{
    background-color:#fdff5e;
}

.bg-green{
    background-color: #95ff70;
}

.top-bar{
    background-color: #f3f3f3;
    border-left: 1px ridge black;
    border-bottom: 1px ridge black;
    border-right: 1px ridge black;
}


.inline-blocks *{
    display:inline-block
}


/* Foundation overwriting rules
-----------------------------------------------------------*/

 .off-canvas-wrapper, .off-canvas-wrapper-inner {
    height:100%;
}

.row {
    max-width: 87rem;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
