@model BLOBLocker.Code.ViewModels.WebApp.ChatViewModel

<div>
    @if (BLOBLocker.Code.Membership.PoolRightHelper.HasRight(ViewBag.Rights, BLOBLocker.Code.Membership.PoolRight.WriteChat)) { 
        @Html.Partial("_SendMessage", Model.NewMessage)
    }

    @if(BLOBLocker.Code.Membership.PoolRightHelper.HasRight(ViewBag.Rights, BLOBLocker.Code.Membership.PoolRight.ReadChat)) {
        @Html.Partial("_ChatMessages", Model.Messages)

        <div style="text-align:center;">
            @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Button.LoadMoreMessages").ToString(),
            "Pool", new { puid = ViewContext.RequestContext.RouteData.Values["puid"], smc = Model.NextAmountShowLastMessageCount }, new { @class="small button" })
        </div>
    }
</div>
