@model BLOBLocker.Code.ViewModels.WebApp.RightsEditViewModel

@using(Html.BeginForm("EditDefaultRights", "Panel", FormMethod.Post))
{
    @Html.LabelFor(p => p.Rights)<br />
    @Html.EditorFor(p => p.Rights)
    <br />
    @Html.HiddenFor(p => p.PoolUID)
    
    <button type="submit">@HttpContext.GetGlobalResourceObject(null, "Button.Save")</button>
}