@model BLOBLocker.Code.ViewModels.WebApp.MessageViewModel

@using (Html.BeginForm("SendMessage", "Panel", FormMethod.Post))
{
    <div class="input-group">
        @Html.TextAreaFor(p => p.MessageText, new { @class="input-group-field" })
        <div class="input-group-button">
            @Html.AntiForgeryToken() @Html.HiddenFor(p => p.PUID)
            <button type="submit" class="button">@HttpContext.GetGlobalResourceObject(null, "Button.SendMessage")</button>
        </div>
    </div>
}
