@model BLOBLocker.Code.ViewModels.AdminTool.NewTranslationViewModel

@using (Html.BeginForm("AddTranslation", "Translation", FormMethod.Post))
{
    @Html.EditorFor(p => p)
    <button type="submit">Add</button>
}
