@{
    ViewBag.Title = CryptoPool.WebApp.Resources.Account.Strings.PageOverviewTitle;
}

<h2>Overview</h2>

<p>Here does the user get an overview of his account status, some options and so on.</p>
Some cool stuff would be
<ul>
    <li>2-Factor Authentication</li>
    <li>Account Lock in between a timespan (like 20:00 - 16:30) for security</li>
    <li>Change/Set contact email</li>
</ul>