@model BLOBLocker.Entities.Models.WebApp.Account
@{
    ViewBag.Title = "AddContact";

}

<h2>AddContact</h2>

Add a new contact
<p>
    
    @Html.Partial("_AddContact", new BLOBLocker.Code.ViewModels.WebApp.AddContactViewModel())
</p>

<p>
    @Html.Partial("_ContactList", Model.Addition)
</p>