@model BLOBLocker.Entities.Models.WebApp.Account
@{
    ViewBag.Title = "AddContact";

}

<h2>AddContact</h2>

Add a new contact
<p>
    @using (Html.BeginForm("AddContact", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();

        @:Alias: @Html.TextBox("addAlias")
        @Html.AntiForgeryToken()
        <button type="submit">Add</button>
    }
</p>

<p>
    @Html.Partial("_ContactList", Model.Addition)
</p>