@model BLOBLocker.Entities.Models.WebApp.Account
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.AddContact").ToString();
}

<p>
    @Html.Partial("_AddContact", new BLOBLocker.Code.ViewModels.WebApp.AddContactViewModel())
</p>

<p>
    @Html.Partial("_ShareContacts")
</p>

<p>
    @Html.Partial("_ContactList", Model.Addition.Contacts)
</p>