@model BLOBLocker.Code.ViewModels.WebApp.ChatViewModel

@{
    ViewBag.Title = string.Format(HttpContext.GetGlobalResourceObject(null, "PageTitle.Chat").ToString(), Model.PUID);
}

<h2>@ViewBag.Title</h2>


@Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Button.Back").ToString(), "Pool", new { puid = Model.PUID })
<div style="width:100%; ">
    @Html.Partial("_Chat", Model)
</div>
