
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.JoinPool");
}

<h3>@HttpContext.GetGlobalResourceObject(null, "Label.JoinPoolHeader")</h3>

<p>
    @HttpContext.GetGlobalResourceObject(null, "Label.CannotOpenPool")
</p>

Possible future features here:
<ul>
    <li>Join per passphrase/code</li>
    <li>Don't join at all</li>
</ul>