@model BLOBLocker.Entities.Models.WebApp.Pool
@{
    ViewBag.Title = "JoinPool";
}

<h2>JoinPool</h2>

<h2>Insufficient Permissions</h2>

<p>
    You are not invited to this party....
</p>
<p>
    ... however, you could ask for an invitation!
</p>
<p>
    But I don't want to tell you how, yet.
</p>
<p>
    @Html.ValidationSummary()
</p>