@model CryptoPool.Entities.Models.WebApp.AccountAddition

@{
    Layout = null;
}

<ul>
    @foreach (CryptoPool.Entities.Models.WebApp.Contact acc in Model.Contacts)
    {
        <li>@acc.Account.Alias</li>
    }
</ul>