@{
    ViewBag.Title = "PoolConfig";
    
    bool isOwner = ViewBag.IsOwner;
}

<h2>PoolConfig</h2>

@if (isOwner)
{
    <p>@Html.Partial("OwnerConfiguration")</p>
}

<p>@Html.Partial("GeneralConfiguration")</p>