@model IEnumerable<CryptoPool.Entities.Models.WebApp.Notification>
@{
    Layout = null;
}

@using (Html.BeginForm("DisableNotification", "Panel", FormMethod.Post))
{
    <table>

        @foreach (CryptoPool.Entities.Models.WebApp.Notification not in Model)
        {
            if (not.IsVisible)
            {
                <tr>
                    <td>@not.Description</td>
                    <td>@not.CreatedOn</td>
                    <td><button type="submit" name="id" value="@not.ID">X</button></td>
                </tr>
            }
        }
    </table>

    <span id="notificationAntiForgeryToken">@Html.AntiForgeryToken()</span>
}