@model BLOBLocker.Code.Membership.PoolRightViewModel

<div style="display:inline-block">
     @Html.CheckBoxFor(p => p.IsChecked)
     @Html.LabelFor(p => p.IsChecked, Model.Right.ToString())
     @Html.HiddenFor(p => p.Right)
</div>