@model BLOBLocker.Code.ViewModels.PoolRightViewModel

<div style="display:inline-block">
     @Html.CheckBoxFor(p => p.IsChecked)
     @Html.LabelFor(p => p.IsChecked, Model.Right.ToString())&nbsp;
     @Html.HiddenFor(p => p.Right)
</div>