@{
    ViewBag.Title = BLOBLocker.WebApp.Resources.Home.Strings.PageIndexTitle;
}

<h2>@BLOBLocker.WebApp.Resources.Home.Strings.PageIndexTitle</h2>

<p>@BLOBLocker.WebApp.Resources.Home.Strings.IntroductionText</p>
<ul>
    <li>About</li>
    <li>Contact</li>
    <li>How it works</li>
    <li>Support</li>
    <li>Support</li>
</ul>

<p>No account? @Html.ActionLink("Sign up!", "SignUp", "Account")</p>Account


<p>Log yourself in @Html.ActionLink("Sign in!", "Login", "Account")</p>

<ul>
    <li>Login</li>
    <li>Sign up</li>
    <li>Manage account</li>
    <li>logout</li>
    <li>Cool stuff with captchas</li>
</ul>
 Panel
<ul>
    <li>Chats (single | group chats)</li>
    <li>File upload</li>
    <li>share file</li>
    <li>shared files (own | from others)</li>
</ul>