@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.Home");
}

<p>ADADADAD</p>
<ul>
    <li>About</li>
    <li>Contact</li>
    <li>How it works</li>
    <li>Transparency Overview - What we encrypt, and what we don't</li>
    <li>Support, FAQ</li>
    <li>Pricing</li>
</ul>
<!--<img src="~/Images/1460291885821.gif" alt="Advertisement" />-->