@model BLOBLocker.Code.ViewModels.WebApp.ChangePasswordViewModel
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.ChangePassword");
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_ChangePassword", Model)