@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.PasswordChanged");
}

<h2>@ViewBag.Title</h2>

@HttpContext.GetGlobalResourceObject(null, "Text.PasswordChanged.PasswordChangeSuccess")
